<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-12">



      <div class="card">
        <h4 class="text-center card-header text-light mb-3">GODKÄNNANDE</h4>
        <div class="card-body">
          <p class="text-center font-weight-light">Vänligen läs igenom villkoren och godkänn nedan.</p>
          <button class="btn btn-secondary" style="width: 100%;" data-target="#demo1" data-toggle="collapse">ALLMÄNNA
            VILLKOR</button>

          <div class="collapse fixed" data-spy="scroll" data-offset="0" id="demo1">
            <h6 class="text-center">ALLMÄNT</h6>
            <p>
              Allmänna villkor för Wapp Media kan komma att ändras.
              Eventuella ändringar i villkoren träder i kraft omedelbart efter att de har publicerats på wappmedia.se.
              Ändringar kan ske löpande och det är kundens ansvar att hålla sig uppdaterad kring dessa.
              Dessa villkor reglerar förhållande mellan kund och W app Media, org. nr 691001-3975, Vasatorpsvägen 1G,
              254 57 Helsingborg, avseende Wapp Media’s tjänster och produkter.
              Avtalet påbörjas när kunden godkänt designen/utkastet vilket kan göras via ett skriftligt avtal eller ett
              godkännande via mail.
              Kund kan vara juridisk- eller myndig fysisk person.</p>

            <h6 class="text-center">AVGIFTER & BETALNING</h6>
            <p>
              Avgifter utgår enligt Wapp Media’s vid varje tid gällande prislista för tjänsten, om inget annat avtalats.
              Alla avgifter är beräknade i SEK och anges exklusive moms. Betalning görs mot faktura (normalt 15 dagar).
              Har full betalning inte skett senast 15 dagar efter det att påminnelse tillsänts Kunden äger Wapp Media
              rätten att med omedelbar verkan skicka ärendet vidare till inkasso/kronofogden.
              Vid försenad betalning utgår en påminnelseavgift. Wapp Media äger dessutom rätt att debitera lagstadgade
              eventuella inkassoavgifter.
              Om Kunden byter faktureringsadress eller e-postadress skall detta utan dröjsmål skriftligen meddelas till
              Wapp Media.
              Wapp Media äger alltid rätt att med omedelbar verkan höja avgifter om det krävs för att bibehålla kvalitén
              i produkten och det nya priset gäller omedelbart efter godkännande från kund.
              Om Kunden inte har utnyttjat beställd tjänst på grund av försening eller omständighet hänförlig till
              Kunden, befriar detta inte Kunden från betalningsskyldighet.
              Kunden skall snarast meddela Wapp Media om faktura anses felaktig. Sker detta inte inom skälig tid (senast
              10 dagar efter fakturadatum) förlorar Kunden rätt att göra invändning mot faktura.</p>
          </div>
          <button class="btn btn-secondary" style="width: 100%" data-target="#demo2"
            data-toggle="collapse">INTEGRITETSPOLICY</button>
          <div class="collapse fixed" data-spy="scroll" data-offset="0" id="demo2">
            <h6 class="text-center">INTEGRITETSPOLICY</h6>
            <p>Syftet med denna integritetspolicy (”Policyn”) är att informera dig om vilka personuppgifter vi samlar in
              när du använder våra tjänster eller besöker vår webbplats, hur den används samt några av de åtgärder vi
              vidtagit för att skydda dina personuppgifter. För att behandla och skydda personuppgifter på ett riktigt
              sätt följer vi Dataskyddsförordningen (EU) 2016/679 (GDPR) och de principer för god sed som praktiseras på
              området.

              Eftersom Policyn kan komma att ändras rekommenderar vi dig att då och då titta igenom den aktuella
              versionen. Om vi ändrar något i Policyn uppdaterar vi även datumet längre ner på sidan. Om du har några
              frågor med anledning av denna Policy eller hur Wapp Media hanterar dina personuppgifter vänligen kontakta
              oss enligt nedan.</p>
            <h6 class="text-center">VILKA PERSONUPPGIFTER VI SAMLAR IN OCH VARFÖR</h6>
            <p>Att enbart besöka våra hemsidor kräver normalt inte att du lämnar någon personlig information.

              Den här webbplatsen använder sig av Google Analytics (GA) för att spåra användarinteraktion och kan samla
              in viss icke-personlig information som görs tillgänglig via din webbläsare vid besök på hemsidorna som t
              ex IP-adress, språkinställning, geografisk data, datum och tid, och cookies. De flesta cookies och
              liknande teknik samlar endast in avidentifierade uppgifter, som hur du kommer till vår webbplats eller din
              position.

              Om du använder vårt kontaktformulär, formuläret för offertförfrågan eller på något annat sätt kontaktar
              oss, som t.ex. via e-post, telefon eller sociala medier, samlar vi in personuppgifter som namn,
              epostadress, företagsnamn och telefonnummer. Detta gör vi för att kunna kommunicera lättare med er när ni
              kontaktar oss. Vi sparar uppgifter från kontaktformulär hos vår e-postleverantör Google samt i våra
              interna system som Trello och Visma eEkonomi en viss tid för kundtjänständamål, men den insamlade
              informationen används inte för marknadsföring.

              När besökare lämnar kommentarer på webbplatsen samlar vi in de uppgifter som visas i kommentarsformuläret
              samt besökarens ip-adress och user agent-sträng som hjälp för detektering av skräpmeddelanden. En
              anonymiserad sträng som skapats utifrån din e-postadress (även kallat hash-värde) kan komma att sändas
              till tjänsten Gravatar för att avgöra om du finns registrerad där. När din kommentar har godkänts kommer
              din profilbild att visas publikt tillsammans med din kommentar. Kommentarer från besökare kanske
              kontrolleras via en automatiserad tjänst för detektering av skräppost.

              Om du är kund hos oss sparar vi dessutom alla uppgifter om ditt företag och personuppgifter till
              kontaktpersoner på ert företag hos vår bokföringstjänst Visma eEkonomi för att kunna fakturera och bokföra
              säkert enligt lag.

              Vi samlar aldrig in personnummer såvida kunden inte driver en enskild firma där personnummer är samma som
              företagets organisationsnummer.</p>
          </div>
          <button class="btn btn-secondary" style="width: 100%" data-target="#demo3"
            data-toggle="collapse">BITRÄDESAVTAL</button>
          <div class="collapse fixed" data-spy="scroll" data-offset="0" id="demo3">
            
              <h6>PARTER</h6>
              <p>
              W app Media, 691001-3975, (nedan kallad ”Leverantören”) och kunder som använder våra tjänster, (nedan
              kallad ”Kunden”).</p>



              <h6>ALLMÄNT</h6>
              <p>
                Detta Personuppgiftsbiträdesavtal utgör en integrerad del av avtalet som ingåtts mellan Leverantören och
                Kunden fr.o.m. det Kunden beställt en tjänst av Leverantören (nedan kallad ”Avtalet”).

                Leverantören kommer vid fullföljandet av Avtalet att behandla personuppgifter som Kunden är
                personuppgiftsansvarig för och/eller som Kundens kunder är personuppgiftsansvariga för. I de fall Kunden
                är personuppgiftsansvarig, behandlar Leverantören personuppgifter såsom Kundens personuppgiftsbiträde. I
                de fall Kundens kunder är personuppgiftsansvariga behandlar Leverantören Personuppgifter såsom
                underbiträde åt Kunden som i sin tur behandlar personuppgifterna såsom personuppgiftsbiträde åt sina
                kunder. De skyldigheter som Leverantören har gentemot Kunden enligt detta Personuppgiftsbiträdesavtal
                (och de rättigheter som tillkommer Kunden enligt detta Personuppgiftsbiträdesavtal) ska då även
                föreligga gentemot (och tillkomma) Kundens kunder i den mån det krävs för att följa
                Dataskyddsregleringen.

                Om någon annan tillsammans med Kunden är personuppgiftsansvarig för de aktuella personuppgifterna ska
                Kunden informera Leverantören om detta.

                Syftet med detta Personuppgiftsbiträdesavtal är att Parterna ska uppfylla vid var tid gällande krav på
                Personuppgiftsbiträdesavtal och förpliktelser enligt Dataskyddsreglering samt att säkerställa ett
                adekvat skydd för personlig integritet och grundläggande rättigheter för enskilda i samband med
                överföring av Personuppgifter från Kunden till Leverantören inom ramen för den verksamhet som bedrivs av
                Leverantören i rollen som webbyrå samt därtill tillhörande support- och tilläggstjänster till Kunden.

                Detta Personuppgiftsbiträdesavtal ersätter eventuella tidigare personuppgiftsbiträdesavtal mellan
                Parterna och har företräde framför Avtalet vad gäller föremålet för detta Personuppgiftsbiträdesavtal,
                oavsett vad som anges i Avtalet.</p>



              <h6>DEFINITIONER</h6>
              <p>
                Begrepp och definitioner i detta Avtal ska ha motsvarande betydelse som i Europaparlamentets och Rådets
                förordning (EU) 2016/679 (nedan kallad dataskyddsförordningen) samt tolkas och tillämpas i enlighet med
                Tillämplig dataskyddslagstiftning. Detta innebär bland annat följande:

                Behandling
                avser en åtgärd eller kombination av åtgärder beträffande personuppgifter eller uppsättningar av
                personuppgifter, oberoende av om de utförs automatiserat eller ej, såsom insamling, registrering,
                organisering, strukturering, lagring, bearbetning eller ändring, framtagning, läsning, användning,
                utlämning genom överföring, spridning eller tillhandahållande på annat sätt, justering eller
                sammanförande, begränsning, radering eller förstöring.

                Tillämplig dataskyddslagstiftning
                avser Europaparlamentets och Rådets förordning (EU) 2016/679 om skydd för fysiska personer med avseende
                på behandling av personuppgifter och om det fria flödet av sådana uppgifter och om upphävande av
                direktiv 95/46/EG och de nationella lagar som stiftas till följd av denna förordning. ”Tillämplig
                dataskyddslagstiftning” inkluderar även bindande vägledningar, utlåtanden, rekommendationer och beslut
                från tillsynsmyndigheter, domstol eller annan myndighet.

                Personuppgiftsansvarig
                den som på egen hand eller tillsammans med andra, fastställer ändamål och medel för behandlingen av
                personuppgifterna.

                Personuppgiftsbiträde
                avser den som behandlar personuppgifter på uppdrag av den Personuppgiftsansvarige

                Underbiträde
                avser den som behandlar personuppgifter på uppdrag av Personuppgiftsbiträdet.

                Personuppgifter
                varje upplysning som avser en identifierad eller identifierbar fysisk person, varvid en identifierbar
                fysisk person är en person som direkt eller indirekt kan identifieras, särskilt med hänvisning till en
                identifikator som ett namn, ett identifikationsnummer, en lokaliseringsuppgift eller
                online-identifikatorereller en eller flera faktorer som är specifika för den fysiska personens fysiska,
                fysiologiska, genetiska, psykiska, ekonomiska, kulturella eller sociala identitet.

                Personuppgiftsincident
                avser en säkerhetsincident som leder till oavsiktlig eller olaglig förstöring, förlust eller ändring
                eller till obehörigt röjande av eller obehörig åtkomst till de personuppgifter som överförts, lagrats
                eller på annat sätt behandlats.</p>



              <h6>INNEHÅLL OCH SYFTE</h6>
              <p>
                Kunden och Leverantören har ingått ett avtal (nedan kallat Tjänsteavtal) angående de tjänster som
                Leverantören ska tillhandahålla Kunden. Med anledning av detta Tjänsteavtal kommer Leverantören att
                behandla personuppgifter för Kundens räkning. Detta Avtal har upprättats för att bland annat uppfylla
                kravet i artikel 28 i dataskyddsförordningen om att det ska finnas ett skriftligt avtal mellan en
                personuppgiftsansvarig och ett personuppgiftsbiträde och/eller underbiträde för behandlingen av
                personuppgifter.</p>



              <h6>BEHANDLING AV PERSONUPPGIFTER</h6>
              <p>
                Kunden garanterar att denne har rätt att behandla personuppgifter samt att behandlingen är i enlighet
                med Tillämplig dataskyddslagstiftning.

                Leverantören åtar sig att endast behandla personuppgifter i enlighet med Tjänsteavtalet och med Kundens
                instruktioner enligt bilaga 1 i detta Avtal. Leverantören ska vid behandlingen av personuppgifter följa
                Tillämplig dataskyddslagstiftning.

                Leverantören ska omedelbart informera Kunden om Leverantören saknar instruktion om hur denne ska
                behandla personuppgifter i en specifik situation eller om en instruktion enligt detta Avtal eller i
                annat fall strider mot Tillämplig dataskyddslagstiftning.

                Leverantören får inte, utan föreläggande från relevant myndighet eller tvingande lagstiftning:

                samla in eller lämna ut personuppgifter från eller till någon tredje part om inte annat skriftligen har
                överenskommits,
                ändra metod för behandling,
                kopiera eller återskapa personuppgifter eller
                på något annat sätt behandla personuppgifter för andra ändamål än de som anges i Tjänsteavtalet.</p>


              <h6>ÖVERFÖRING TILL TREDJE LAND</h6>
              <p>
                Överföring av personuppgifter till en stat utanför EU och EES kräver Kundens skriftliga samtycke i
                förväg och får endast ske de om villkor för överföring till tredje länder som framgår av Tillämplig
                dataskyddslagstiftning har uppfyllts.</p>



              <h6>SÄKERHET</h6>
              <p>
                Leverantören ska vidta lämpliga tekniska och organisatoriska åtgärder för att skydda de personuppgifter
                som behandlas. Åtgärderna ska innebära en säkerhetsnivå som överensstämmer med Tillämplig
                dataskyddslagstiftning och som är lämplig med beaktande av:

                de tekniska möjligheter som finns,
                vad det skulle kosta att genomföra åtgärderna,
                de särskilda risker som finns med behandlingen av personuppgifterna och
                hur pass känsliga de behandlade personuppgifterna är.
                Avtalade åtgärder, vilka uppfyller denna punkt, ska åstadkomma en säkerhetsnivå som Kunden bedömer
                lämplig.

                Med beaktande av den senaste utvecklingen, genomförandekostnaderna och behandlingens omfattning,
                sammanhang och ändamål samt riskerna för fysiska personers rättigheter och friheter, ska Leverantören
                vidta lämpliga tekniska och organisatoriska åtgärder för att säkerställa en säkerhetsnivå som är lämplig
                i förhållande till risken, inbegripet, när det är lämpligt

                pseudonymisering och kryptering av personuppgifter,
                förmågan att fortlöpande säkerställa konfidentialitet, integritet, tillgänglighet och motståndskraft hos
                de system och tjänster som behandlar personuppgifter,
                förmågan att återställa tillgängligheten och tillgången till personuppgifter i rimlig tid vid en fysisk
                eller teknisk incident, och
                ett förfarande för att regelbundet testa, undersöka och utvärdera effektiviteten hos de tekniska och
                organisatoriska åtgärder som ska säkerställa behandlingens säkerhet.</p>


              <h6>SEKRETESS</h6>
              <p>
                Leverantörenär skyldigt att säkerställa att endast personer som har ett direkt behov av tillgång till
                Personuppgifter för att kunna infria Leverantörenåtaganden i enlighet med Tjänsteavtalet har tillgång
                till sådan information. Leverantören ska se till att samtliga anställda, konsulter och övriga som är
                involverade i behandlingen är bundna av sekretess samt att de är informerade om hur behandling av
                personuppgifterna får ske.</p>



              <h6>UNDERBITRÄDEN</h6>
              <p>
                För att Leverantören ska kunna uppfylla skyldigheterna enligt Tjänsteavtalet och detta Avtal har
                Leverantören rätt att anlita underbiträde. Kunden samtycker till att de underbiträden som listas i
                bilaga 2 till detta Avtal kan komma att anlitas som underbiträde. Om Leverantören avser att ändra, ta
                bort eller lägga till ett underbiträde kommer Leverantören att informera om detta så att Kunden har
                möjlighet att göra invändningar mot sådana förändringar.

                Om Leverantören anlitar underbiträde ska Leverantören ingå särskilt person­ uppgiftsbiträdesavtal med
                sådant underbiträde vad avser underbiträdets behandling av personuppgifter. I ett sådant avtal ska det
                framgå att underbiträdet har motsvarande skyldigheter som Leverantören har enligt detta Avtal.
                Leverantören ska på Kundens begäran tillhandahålla kopia av de delar av Leverantörens avtal med
                underbiträde som krävs för att utvisa att Leverantören uppfyllt sina åtaganden enligt detta Avtal.</p>



              <h6>ASSISTANS</h6>
              <p>
                Leverantörenska, med hänsyn taget till Behandlingens art, hjälpa Kunden genom lämpliga tekniska och
                organisatoriska åtgärder, i den mån detta är möjligt, så att Kunden kan fullgöra sin skyldighet att
                svara när den Registrerade vill utöva sina rättigheter.



                Leverantörenska bistå Kunden med att se till att Kunden kan uppfylla sina rättsliga skyldigheter som
                personuppgiftsansvarig enligt Tillämplig dataskyddslagstiftning.</p>



              <h6>GRANSKNING</h6>
              <p>
                Kunden äger rätt att, själv eller genom tredje man, genomföra revision gentemot Leverantören eller på
                annat sätt kontrollera att Leverantörens behandling av personuppgifter följer detta Avtal. Vid sådan
                revision eller kontroll ska Leverantören ge Kunden den assistans som behövs för genomförandet.</p>



              <h6>PERSONUPPGIFTSINCIDENT</h6>
              <p>
                Vid en personuppgiftsincident som omfattar personuppgifter som behandlas på uppdrag av Kunden ska
                Leverantören omedelbart undersöka incidenten och vidta lämpliga åtgärder för att mildra dess potentiella
                negativa effekt och förhindra upprepning. Leverantören ska även omedelbart tillhandahålla Kunden en
                beskrivning av incidenten. Beskrivningen ska åtminstone

                beskriva personuppgiftsincidentens art, inbegripet, om så är möjligt, de kategorier av och det
                ungefärliga antalet registrerade som berörs samt de kategorier av och det ungefärliga antalet
                personuppgiftsposter som berörs,
                förmedla namnet på den person som kan tillhandahålla mer information eller svara på frågor,
                beskriva de sannolika konsekvenserna av personuppgiftsincidenten, och
                beskriva de åtgärder som Leverantören har vidtagit eller föreslagit för att åtgärda
                personuppgiftsincidenten, inbegripet, när så är lämpligt, åtgärder för att mildra dess potentiella
                negativa effekter.</p>


              <h6>AVTALETS UPPHÖRANDE</h6>
              <p>
                Villkoren i detta Avtal ska gälla så länge Leverantören behandlar personuppgifter på uppdrag av Kunden.

                Om detta Avtal upphör att gälla ska Leverantören upphöra med Behandlingen av Personuppgifter och, efter
                Kundens önskemål, radera eller återsända alla Personuppgifter till Kunden och radera befintliga kopior,
                såvida inte Tillämplig dataskyddslagstiftning eller nationell rätt kräver att Personuppgifterna lagras.
                Leverantören ska säkerställa att Underbiträde vidtar samma åtgärder.</p>



              <h6>ÄNDRINGAR</h6>
              <p>
                Ändringar eller tillägg till Avtalet ska göras skriftligen och undertecknas av båda Parterna. </p>



              <h6>TVIST</h6>
              <p>
                Tvist angående tolkning eller tillämpning av detta Avtal ska avgöras enligt svensk lag och
                Tjänsteavtalets bestämmelse om tvist. Om Tjänsteavtalet inte innehåller någon sådan bestämmelse gäller
                att tvist ska avgöras av svensk allmän domstol.</p>

            
          </div>
          <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" novalidate>
          <input type="checkbox" class="mt-5 mb-4" name="godkänn" value="godkänn" ngModel required><span class="font-weight-light"> Jag godkänner ovantstående villkor.</span><p></p>
          <button routerLink="../" class="text-light bg-secondary mr-3">Tillbaka</button>
          <button class="text-light bg-secondary" type="submit">Nästa</button>
        </form>
        </div>
      </div>

    </div>
  </div>
</div>







<!-- 
  <div class="container">
    
    <form action="">
      <label for="villkor">GODKÄNNANDE</label>
      <h6 class="text-center">ALLMÄNT</h6>
      <p>
        Allmänna villkor för Wapp Media kan komma att ändras.
        Eventuella ändringar i villkoren träder i kraft omedelbart efter att de har publicerats på wappmedia.se. Ändringar kan ske löpande och det är kundens ansvar att hålla sig uppdaterad kring dessa.
        Dessa villkor reglerar förhållande mellan kund och W app Media, org. nr 691001-3975, Vasatorpsvägen 1G, 254 57 Helsingborg, avseende Wapp Media’s tjänster och produkter.
        Avtalet påbörjas när kunden godkänt designen/utkastet vilket kan göras via ett skriftligt avtal eller ett godkännande via mail.
        Kund kan vara juridisk- eller myndig fysisk person.</p>
        
        <h6 class="text-center">AVGIFTER & BETALNING</h6>
        <p>
          Avgifter utgår enligt Wapp Media’s vid varje tid gällande prislista för tjänsten, om inget annat avtalats. Alla avgifter är beräknade i SEK och anges exklusive moms. Betalning görs mot faktura (normalt 15 dagar).
          Har full betalning inte skett senast 15 dagar efter det att påminnelse tillsänts Kunden äger Wapp Media rätten att med omedelbar verkan skicka ärendet vidare till inkasso/kronofogden.
          Vid försenad betalning utgår en påminnelseavgift. Wapp Media äger dessutom rätt att debitera lagstadgade eventuella inkassoavgifter.
          Om Kunden byter faktureringsadress eller e-postadress skall detta utan dröjsmål skriftligen meddelas till Wapp Media.
          Wapp Media äger alltid rätt att med omedelbar verkan höja avgifter om det krävs för att bibehålla kvalitén i produkten och det nya priset gäller omedelbart efter godkännande från kund.
          Om Kunden inte har utnyttjat beställd tjänst på grund av försening eller omständighet hänförlig till Kunden, befriar detta inte Kunden från betalningsskyldighet.
          Kunden skall snarast meddela Wapp Media om faktura anses felaktig. Sker detta inte inom skälig tid (senast 10 dagar efter fakturadatum) förlorar Kunden rätt att göra invändning mot faktura.</p>
        </form>
        <a routerLink="../" class="btn btn-secondary mr-3">Tillbaka</a>
        <a routerLink="Upload" class="btn btn-primary">Nästa</a>
      </div>
    -->